.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}
form {
    border: 0.5px solid silver;
    width: fit-content;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    background-color: #fff;
}
.header {
    color: #1a73e8;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 30px;
}
.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 75px;
    

    label{
        text-align: left;
        margin-bottom: 5px;
        font-size: 0.9rem;
        color: rgb(85, 85, 85);
    }
}
.formField span {
    color: red;
    font-size: 0.7rem;
    background-color: rgba(255, 0, 0, 0.175);
    width: fit-content;
    margin-top: 5px;
    text-align: left;
    border-radius: 2px;
}
.formInput {
    height: 30px;
    width: 300px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid silver;
    transition: all 0.5s ease-in;
}
.uncompleted {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid red;
    transition: all 0.2s ease-in;
}
.formInput:focus,
.uncompleted:focus {
    outline: none;
    line-height: 30px;
    height: 30px;
    border: 1px solid #1a73e8;
}
.checkboxContainer {
    display: flex;
    font-size: 0.8rem;
    align-items: center ;
    text-align: center;
    height: 20px;
    margin-top: 10px;
    
    input{
        margin-left: 20px;
        width: 18px ;
        height: 18px ;
        border: 1px solid #1a73e8;
        appearance: none;
        border-radius: 10px;
        transition: all 0.2s ease-in;
        cursor: pointer;
    }
}
.checkboxContainer input:checked {
    width: 18px;
    height: 18px;
    background-color: #1a73e8 !important;
    border-radius: 50%;
}
.checkboxContainer input:focus {
    height: 18px;
    width: 18px;
    outline: none;
    border: 2px solid #004aaa;
}
.formButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background: #1a73e8;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 0.8rem;
        border-radius: 5px;
        font-weight: 500px;
        cursor: pointer;
        transition: all 0.1s ease-in;
    }
}
.formButton button:hover {
    background-color: #004aaa;
}
.formButton a {
    color: #1a73e8;
    text-decoration: none;
    transition: all 0.1s ease-in;
    font-weight: 700;
}
.formButton a:hover {
    color: #004aaa;
}